body{
    background-color: black;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar{
    display: none;
  }
img{
    height: 250;
    width: 250;
    float: right;
    
}
.nav-item a:hover{
    color: #000;
}

@media screen and (min-width: 480px) {
    #home{
      padding-top: 60px;
    }
    #about{
      padding-top: 40px;
    }
    #resume{
      padding-top: 30px;
    }
    #work{
      padding-top: 30px;
    }
    #contact{
      padding-top: 30px;
    }
}
@media only screen and (max-width: 768px) {
    #home{
       padding-top: 40px;
        
    }
}
.navbar-dark .navbar-nav .nav-link.active{
    color: #E5800C;
    font-weight: 700;
} 
.active, .navbar-dark .navbar-nav .nav-link:hover{
    color: #E5800C !important;
}
